*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;

}

body{
    max-width: 100vw;
}


.container{
    height: 100vh;
    width: 100%;
    background-color: blueviolet;
    border: black 1px solid;
}





