*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;

}

body{
    max-width: 100vw;
    font-family: 'Rubik Mono One', sans-serif;
}

/*Navbar*/

#main-nav{
    position: fixed;
    top: 0;
    right: 10px;
    z-index: 1;
    padding: 20px;
    height: 100px;
}

#main-nav li{
    list-style-type: none;
    display: inline-block;
    border-radius: 100px;
    background-color: rgb(225, 225, 225);
    margin-right: 20px;
    margin-top: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

#main-nav li a{
    text-decoration: none;
    color: black;
    

}

#main-nav li:hover{
    transform: scale(1.1);



}



/*Box*/

.container{
    height: 100vh;
    width: 100%;
    border: black 1px solid;
    text-align: center;
    position: relative;
}

.container .pic-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}


#bg-back-1{
    background-color: forestgreen;
}

#bg-back-2{
    background-color: yellow;
}

#bg-back-3{
    background-color: red;
}


